#include "resource.h"
#include "version.h"
IDI_CODEX_PARTNER ICON "..\\assets\\CodexPartner.ico"

1 VERSIONINFO
 FILEVERSION CODEX_PARTNER_VERSION_TUPLE
 PRODUCTVERSION CODEX_PARTNER_VERSION_TUPLE
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Codex Partner contributors\0"
            VALUE "FileDescription", "Codex Partner for Windows\0"
            VALUE "FileVersion", CODEX_PARTNER_VERSION_STRING "\0"
            VALUE "InternalName", "CodexPartner\0"
            VALUE "LegalCopyright", "Open source contributors\0"
            VALUE "OriginalFilename", "CodexPartner.exe\0"
            VALUE "ProductName", "Codex Partner\0"
            VALUE "ProductVersion", CODEX_PARTNER_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
